<div class="wrapper">
    <div class="header">
        <h3 class="masthead">Shittr</h3>
        <ul class="nav">
            <li>Home</li>
            <li>About</li>
            <li>Projects</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="content">
        <h3>
            Some headings
        </h3>
        <p>
            Vice next level post-ironic, pork belly cred lomo keytar affogato pinterest YOLO. Twee tacos
            normcore gluten-free mlkshk. Kale chips meh scenester, helvetica authentic fashion axe health
            goth shabby chic slow-carb bicycle rights hoodie mixtape. Quinoa leggings man bun viral,
            flexitarian ethical photo booth. XOXO church-key microdosing gochujang flannel retro. Waistcoat
            hashtag biodiesel meh, paleo post-ironic cronut XOXO ethical keffiyeh affogato offal deep v.
            Stumptown pinterest locavore, banh mi heirloom next level typewriter lumbersexual 3 wolf moon
            tumblr green juice gastropub everyday carry.
        </p>

        <p>
            Hoodie you probably haven't heard of them direct trade shoreditch authentic, organic intelligentsia
            sartorial mlkshk ennui heirloom before they sold out roof party truffaut. Slow-carb neutra venmo
            tousled pickled, XOXO YOLO polaroid retro. VHS fap cronut, dreamcatcher godard roof party green
            juice pour-over ennui crucifix direct trade. Actually cliche lo-fi, kitsch flannel helvetica
            asymmetrical +1 pickled. Literally lumbersexual biodiesel, ramps bushwick distillery migas roof
            party umami wolf craft beer tofu helvetica. Kitsch truffaut farm-to-table, authentic meggings
            offal health goth forage bicycle rights skateboard cold-pressed marfa +1 poutine lo-fi. Man bun
            taxidermy raw denim knausgaard, pop-up typewriter whatever stumptown direct trade humblebrag tumblr.
        </p>

        <h4>
            Some headings
        </h4>
        <p>
            Hoodie you probably haven't heard of them direct trade shoreditch authentic, organic intelligentsia
            sartorial mlkshk ennui heirloom before they sold out roof party truffaut. Slow-carb neutra venmo
            tousled pickled, XOXO YOLO polaroid retro. VHS fap cronut, dreamcatcher godard roof party green
            juice pour-over ennui crucifix direct trade. Actually cliche lo-fi, kitsch flannel helvetica
            asymmetrical +1 pickled. Literally lumbersexual biodiesel, ramps bushwick distillery migas roof
            party umami wolf craft beer tofu helvetica. Kitsch truffaut farm-to-table, authentic meggings
            offal health goth forage bicycle rights skateboard cold-pressed marfa +1 poutine lo-fi. Man bun
            taxidermy raw denim knausgaard, pop-up typewriter whatever stumptown direct trade humblebrag tumblr.
        </p>

        <p>
            Hoodie you probably haven't heard of them direct trade shoreditch authentic, organic intelligentsia
            sartorial mlkshk ennui heirloom before they sold out roof party truffaut. Slow-carb neutra venmo
            tousled pickled, XOXO YOLO polaroid retro. VHS fap cronut, dreamcatcher godard roof party green
            juice pour-over ennui crucifix direct trade. Actually cliche lo-fi, kitsch flannel helvetica
            asymmetrical +1 pickled. Literally lumbersexual biodiesel, ramps bushwick distillery migas roof
            party umami wolf craft beer tofu helvetica. Kitsch truffaut farm-to-table, authentic meggings
            offal health goth forage bicycle rights skateboard cold-pressed marfa +1 poutine lo-fi. Man bun
            taxidermy raw denim knausgaard, pop-up typewriter whatever stumptown direct trade humblebrag tumblr.
        </p>

        <h4>
            Some headings
        </h4>
        <p>
            Hoodie you probably haven't heard of them direct trade shoreditch authentic, organic intelligentsia
            sartorial mlkshk ennui heirloom before they sold out roof party truffaut. Slow-carb neutra venmo
            tousled pickled, XOXO YOLO polaroid retro. VHS fap cronut, dreamcatcher godard roof party green
            juice pour-over ennui crucifix direct trade. Actually cliche lo-fi, kitsch flannel helvetica
            asymmetrical +1 pickled. Literally lumbersexual biodiesel, ramps bushwick distillery migas roof
            party umami wolf craft beer tofu helvetica. Kitsch truffaut farm-to-table, authentic meggings
            offal health goth forage bicycle rights skateboard cold-pressed marfa +1 poutine lo-fi. Man bun
            taxidermy raw denim knausgaard, pop-up typewriter whatever stumptown direct trade humblebrag tumblr.
        </p>

        <p>
            Hoodie you probably haven't heard of them direct trade shoreditch authentic, organic intelligentsia
            sartorial mlkshk ennui heirloom before they sold out roof party truffaut. Slow-carb neutra venmo
            tousled pickled, XOXO YOLO polaroid retro. VHS fap cronut, dreamcatcher godard roof party green
            juice pour-over ennui crucifix direct trade. Actually cliche lo-fi, kitsch flannel helvetica
            asymmetrical +1 pickled. Literally lumbersexual biodiesel, ramps bushwick distillery migas roof
            party umami wolf craft beer tofu helvetica. Kitsch truffaut farm-to-table, authentic meggings
            offal health goth forage bicycle rights skateboard cold-pressed marfa +1 poutine lo-fi. Man bun
            taxidermy raw denim knausgaard, pop-up typewriter whatever stumptown direct trade humblebrag tumblr.
        </p>


        <p>
            Hoodie you probably haven't heard of them direct trade shoreditch authentic, organic intelligentsia
            sartorial mlkshk ennui heirloom before they sold out roof party truffaut. Slow-carb neutra venmo
            tousled pickled, XOXO YOLO polaroid retro. VHS fap cronut, dreamcatcher godard roof party green
            juice pour-over ennui crucifix direct trade. Actually cliche lo-fi, kitsch flannel helvetica
            asymmetrical +1 pickled. Literally lumbersexual biodiesel, ramps bushwick distillery migas roof
            party umami wolf craft beer tofu helvetica. Kitsch truffaut farm-to-table, authentic meggings
            offal health goth forage bicycle rights skateboard cold-pressed marfa +1 poutine lo-fi. Man bun
            taxidermy raw denim knausgaard, pop-up typewriter whatever stumptown direct trade humblebrag tumblr.
        </p>

        <p>
            Hoodie you probably haven't heard of them direct trade shoreditch authentic, organic intelligentsia
            sartorial mlkshk ennui heirloom before they sold out roof party truffaut. Slow-carb neutra venmo
            tousled pickled, XOXO YOLO polaroid retro. VHS fap cronut, dreamcatcher godard roof party green
            juice pour-over ennui crucifix direct trade. Actually cliche lo-fi, kitsch flannel helvetica
            asymmetrical +1 pickled. Literally lumbersexual biodiesel, ramps bushwick distillery migas roof
            party umami wolf craft beer tofu helvetica. Kitsch truffaut farm-to-table, authentic meggings
            offal health goth forage bicycle rights skateboard cold-pressed marfa +1 poutine lo-fi. Man bun
            taxidermy raw denim knausgaard, pop-up typewriter whatever stumptown direct trade humblebrag tumblr.
        </p>


        <p>
            Hoodie you probably haven't heard of them direct trade shoreditch authentic, organic intelligentsia
            sartorial mlkshk ennui heirloom before they sold out roof party truffaut. Slow-carb neutra venmo
            tousled pickled, XOXO YOLO polaroid retro. VHS fap cronut, dreamcatcher godard roof party green
            juice pour-over ennui crucifix direct trade. Actually cliche lo-fi, kitsch flannel helvetica
            asymmetrical +1 pickled. Literally lumbersexual biodiesel, ramps bushwick distillery migas roof
            party umami wolf craft beer tofu helvetica. Kitsch truffaut farm-to-table, authentic meggings
            offal health goth forage bicycle rights skateboard cold-pressed marfa +1 poutine lo-fi. Man bun
            taxidermy raw denim knausgaard, pop-up typewriter whatever stumptown direct trade humblebrag tumblr.
        </p>

        <p>
            Hoodie you probably haven't heard of them direct trade shoreditch authentic, organic intelligentsia
            sartorial mlkshk ennui heirloom before they sold out roof party truffaut. Slow-carb neutra venmo
            tousled pickled, XOXO YOLO polaroid retro. VHS fap cronut, dreamcatcher godard roof party green
            juice pour-over ennui crucifix direct trade. Actually cliche lo-fi, kitsch flannel helvetica
            asymmetrical +1 pickled. Literally lumbersexual biodiesel, ramps bushwick distillery migas roof
            party umami wolf craft beer tofu helvetica. Kitsch truffaut farm-to-table, authentic meggings
            offal health goth forage bicycle rights skateboard cold-pressed marfa +1 poutine lo-fi. Man bun
            taxidermy raw denim knausgaard, pop-up typewriter whatever stumptown direct trade humblebrag tumblr.
        </p>

        <p>
            Hoodie you probably haven't heard of them direct trade shoreditch authentic, organic intelligentsia
            sartorial mlkshk ennui heirloom before they sold out roof party truffaut. Slow-carb neutra venmo
            tousled pickled, XOXO YOLO polaroid retro. VHS fap cronut, dreamcatcher godard roof party green
            juice pour-over ennui crucifix direct trade. Actually cliche lo-fi, kitsch flannel helvetica
            asymmetrical +1 pickled. Literally lumbersexual biodiesel, ramps bushwick distillery migas roof
            party umami wolf craft beer tofu helvetica. Kitsch truffaut farm-to-table, authentic meggings
            offal health goth forage bicycle rights skateboard cold-pressed marfa +1 poutine lo-fi. Man bun
            taxidermy raw denim knausgaard, pop-up typewriter whatever stumptown direct trade humblebrag tumblr.
        </p>
    </div>
    <div class="footer">
        <span>Shittr 2016 </span>
    </div>
</div>