@import 'https://fonts.googleapis.com/css?family=Pattaya';
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Raleway:400,500,700';
.header{

  $header-background-color: #333;

  $masthead-color: #fff;
  $nav-color: #fff;

  display: flex;
  justify-content: space-between;
  background-color: $header-background-color;
  align-items: center;

  .masthead{
    color: $masthead-color;
    font-family: 'Pattaya', sans-serif;
    padding: 0 10px;
    order: 0;
    font-size: 24px;
    display: flex;
    flex: 0 1 auto;
    align-self: auto;
    text-align: center;
    margin: 0;
    padding: 0 10px;

  }

  .nav{
    display: flex;
    list-style-type: none;
    order: 1;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: $nav-color;
    li{
      margin: 0 10px;
      cursor: pointer;
    }
  }

}
.content{
  background-color: #66b3ff;
  color: #222;
  padding: 0 10px;
  flex-direction: column;
  display: flex;
  flex: 1;
  overflow: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;

  h3,h4{
    margin:0;
    margin-top: 20px;
  }

  .mainheading{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
  }
}

.footer{
  $footer-background-color: #333;
  $footer-watermark-color: #fff;
  background-color: $footer-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 12px;

  span {
    color:$footer-watermark-color;
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}