@import 'https://fonts.googleapis.com/css?family=Pattaya';
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Raleway:400,500,700';
.header {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  align-items: center; }
  .header .masthead {
    color: white;
    font-family: 'Pattaya', sans-serif;
    padding: 0 10px;
    order: 0;
    font-size: 24px;
    display: flex;
    flex: 0 1 auto;
    align-self: auto;
    text-align: center;
    margin: 0;
    padding: 0 10px; }
  .header .nav {
    display: flex;
    list-style-type: none;
    order: 1;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white; }
    .header .nav li {
      margin: 0 10px;
      cursor: pointer; }

.content {
  background-color: #66b3ff;
  color: #222;
  padding: 0 10px;
  flex-direction: column;
  display: flex;
  flex: 1;
  overflow: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 500; }
  .content h3, .content h4 {
    margin: 0;
    margin-top: 20px; }
  .content .mainheading {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700; }

.footer {
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 12px; }
  .footer span {
    color: white; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }
